<div id="main_div">
		
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<% if user_signed_in? %>
			<h2>Bienvenido<h2>
			<h2><%= current_user.username %>!<h2>
		<% else %>
			<h2> Ingresa ahora!<h2>
				<div class="row">
						<%= link_to "Login", new_user_session_path, :class => 'btn btn-default form-control' %>
						 <%= link_to "Sign up", new_user_registration_path,  :class => "btn btn-default form-control"  %><br />
				</div>
		<% end %>
	</div>
		<div class="col-sm-4"></div>
	</div>

		<p>
			¿Crees sabes lo que sucedera en tus series favoritas? <b>Compruebalo!</b> Este blog esta dedicado para discutir teorias y poder votar aquellas que creas que seran verdaderas. Junta puntos para ser el que mas sabe de series!!  
		</p>

		<br>
		<br>


		<% @posts.each do|post|%>
		<div class="wrapper clearfix">
			
			<div class="col-1 post_resume">
		  	<%= image_tag("got_log.jpg", :alt => "Got logo", :class => "logo img-circle") %>
			</div>
			<div class="col-2 post_resume">
				<p class="date"> <%= I18n.localize(post.created_at, format: "%A, %b %d") %> </p>
				<h2 class="nopadding post_title"> <%= link_to post.title, post, :class => "post_title"%> </h2>
			</div>
			<div class="col-3 post_resume">
				<p class="nopadding status"> A CONFIRMAR</p>
				<p class="date"><i class="fa fa-arrow-up green" aria-hidden="true">543</i>   <i class="fa fa-arrow-down red" aria-hidden="true">543</i> </p>
			</div>				
		</div>
		<%end%>
				
</div>