<div id="main_div" class="col-md-10 col-md-offset-1">
		
		<p class="right_p">
			¿Crees saber lo que sucederá en tus series favoritas? <b>Compruébalo!</b></p>
			<br>
			<p class="right_p"> Discute teorías y <strong>votá</strong> aquellas que creas que son verdaderas.</p>
			<br>
			<p class="right_p">Consigue <strong>PUNTOS</strong> para ser el que más sabe y ganar <strong>PREMIOS</strong>!</p>

			<% if !user_signed_in?%>
			<div class="row">
				<div class="col-md-6">
				<%= link_to "Registrarse", new_user_registration_path, :class => 'btn btn-default login front_btn_1' %>
			</div>
			<div class="col-md-6">
				<%= link_to "Ingresar", new_user_session_path, :class => 'btn btn-default login front_btn_2' %>
			</div>
		</div>
			<%end%>

		<hr>
		<br>


		<% @posts.each do|post|%>
		<div class="wrapper clearfix">
			
			<div class="col-1 post_resume">
		  		<%= image_tag(post.img , :alt => post.title, :class => "logo") %>
			</div>
			<div class="col-2 post_resume">
				 <div class="row">
					<div class="col-md-8">
						<p class="nopadding"><%= post.desc_serie %> | <%= l post.created_at, :format => "%Y-%m-%d" %></p>
					</div>
				</div>
				<h2 class="nopadding post_title"> <%= link_to post.title, post, :class => "post_title"%> </h2>
			</div>
			<div class="col-3 post_resume vcenter">

				<% if post.id_status == 1%>
				<p class="nopadding status a_conf"> A CONFIRMAR</p>
				<% elsif post.id_status == 2 %>
				<p class="nopadding status green"> CONFIRMADO</p>
				<%elsif post.id_status == 3%>
				<p class="nopadding status red"> RECHAZADO</p>
				<%else%>
				<p class="nopadding status">REVIEW</p>
				<% end %>

				<table class="center-votes">
					<tr>
						<td>
							<i class="fa fa-arrow-up green" aria-hidden="true"><%=post.get_upvotes.size%></i>
						</td><td>
								<i class="fa fa-arrow-down red" aria-hidden="true"><%=post.get_downvotes.size%></i>
						</td>
					</tr>
				</table>

			</div>				
		</div>
		<%end%>
				
</div>