<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<title>Juego de teorias</title>
<link href='https://fonts.googleapis.com/css?family=Creepster|Rye|Wallpoet|Merriweather+Sans:400,800italic|Alegreya+Sans+SC:400,800italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="div_body">

<% if user_signed_in? %>
	<%= link_to 'Editar', edit_user_registration_path, :class => 'btn btn-default login' %>
	<%= link_to 'Sign out', '/users/sign_out', :class => 'btn btn-default login', :method => :get  %>
<% else %>
	<%= link_to "Login", new_user_session_path, :class => 'btn btn-default login' %>
<% end %>


<header id="main_navigation">
		<h1>JUEGO DE TEORIAS</h1>
		<nav>
			<%= link_to "Inicio", root_path %>			
			<%= link_to "Game of Thrones", got_path%>
			<%= link_to "TWD", twd_path%>
			<a href="">Mr. Robot</a>
			<a href="">Mas series</a>
			<a href="">Acertados</a>
			<a href="">Contacto</a>
		</nav>
	</header>
	<% if notice %>
	<div class="alert alert-info">
	 <p class="notice"><%= notice %></p>
	 </div>
     <%elsif alert
     	%>
     	<div class="alert alert-danger">
     <p class="alert"><%= alert %></p>
     </div>
	<% end %>




<%= yield %>


	<footer id="main_footer">
		
		<p class="copyright">&copy; Juego de teorias</p>
		<p>Gracias por leer!</p>
	</footer>

</div>

</body>
</html>
